{% extends "KVSUserBundle::layout.html.twig" %}
{% block kvs_user_content %}
Thanh Son
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
	{{ form_widget(form) }}
	<div>
	<input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
	</div>
</form>
{% endblock kvs_user_content %}
